.gallery-content-container {
    margin: 0 5em;
    padding: 1em 0;
    columns: 5 120px;

    @media screen and (max-width: 769px) {
        margin: 0 1em;
    }
}

.gallery-content-container > .image-container {
    display: block;
}

.image-container img {
    width: 100%;
    min-height: 120px;
    max-height: 480px;
    object-fit: cover;
    border-radius: 16px;
    object-position: center;
    box-shadow: 0px 0px 12px black;
}

